*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
body{
    
    background-color: #000000;
    margin: 7px;
    margin-bottom: 82px;
    /* position: fixed; */
}

.spotify-main-part1{
    height: 746px;
    width: 23%;
  
    position: fixed;
}

.spotify-main-part1-p1{
    background-color: #121212;
    height: 112px;
    width: 100%;
    margin-bottom: 6px;
    border-radius: 7px;

}
.spotify-main-part1-p2{
    background-color: #121212;
    width: 100%;
    height: 548px;
    border-radius: 7px;
}

.spotify-main-part2{
    background-color: #151515;
    height: 100%;
    width: 76%;
    left: 23%;
    position: relative;
    margin-left: 14px;
    border-radius: 7px;
    
    
}

.p1-content{
    display: flex;
    height: 40px;
    padding: 22px 22px;
    color:#9E9E9E;
    font-weight: 00;
    
    >h3{
        font-size: 16px;
        margin-left: 20px;
        
    }

    >i{
        font-size: 23px;
    }
}

.spotify-main-part2-navbar{
    height: 65px;
    background-color: #101010;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    position: fixed;
    width: 75.3%;
    
}



.main{
    display: flex;
    height: 100%;
    width: 100%;
}




.spotify-main-part2-navbar-p1{
    display: flex;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #fff;
}

.arrow{
    padding: 5px;
    border-radius: 50%;
    width: 32px;
    align-items: center;
    text-align: center;
    color: #9E9E9E;
    background-color: #090909;
}

.spotify-main-part2-navbar-p2{
    padding: 0px 13px;
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.sign-up{
    background: none;
    border-style: none;
    color:#9E9E9E;
    font-size: 16px;
    height: 48px;
    font-weight: 700;
    cursor: pointer;
}

.log-in{
    border-radius: 500px;
    font-size: 16px;
    padding: 8px 30px;
    height: 48px;
    color: #000000;
    background-color: #ffffff;
    font-weight: 700;
    cursor: pointer;
}

.spotify-main-part2-song-lists{
    /* height: 400px; */
    padding-top: 66px;
}

.song-list-div{
   
    background-color: #151515;
    height: 100%;
}

.div-song-list-part1{
    height: 10%;
    width: 100%;
    background-color:#151515;
}

.div-header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    >h3{
        padding-left: 10px;
        color: #ffffff;
        font-size: 22px;
        font-weight: 800;
    }
    >p{
        color: #9E9E9E;
        font-weight: 700;
        font-size: 15px;
        padding-top: 5px;
    }
}

.div-song-list-part2{
    height: 90%;
    width: 100%;
    background-color:#151515;
    display: flex;
    
}

.song-cards{
    padding: 15px;
}

.card{
    height: 280px;
    background-color: #1b1a1a;
    width: 199px;
    padding: 15px;
    border-radius: 5px;
    /* transition: 0.1s; */
}

.card .card-upper{
    background-image: url(/image/card\ 1.jpeg);
    height: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    position: relative;
    width: 100%;
    /* transition: 0.1s; */
    >.icon {
        
        >i{                 
        font-size: 20px;
        position: absolute;
        right: 10px;
        height: 50px;
        width: 50px; 
        bottom: 10px;
        padding: 16px 19px;
        border-radius: 50%; 
        background-color: #1FDF64;
        color: #000000;
        display: none;
        cursor: pointer;
        }
    }
}

@keyframes bcn{
    0%{
        background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255,255,255,0.1));
    }
    100%{
        background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255,255,255,0.1));
    }
}

.card:hover{
    /* background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255,255,255,0.1)); */
    animation-name: bcn;
    animation-duration: 1s;
    /* animation-timing-function: linear; */
    /* animation-delay: 2s; */
    animation-iteration-count:infinite;
    /* animation-direction: alternate; */
    /* animation-fill-mode: both; */
}

.card:hover .icon i{
    
    display:block  ;
    animation-name: bbn;
    animation-duration: 0.4s;
}

.card-upper .icon:hover i{
    height: 52px;
    width: 52px;
    padding: 18px 20px;
    right: 9px;
    bottom: 9px;
}
@keyframes bbn{
    0%{
        bottom: 0px;
    }
    100%{
        bottom: 10px;
    }
}

.div-song-list-part1-color{
    height: 10%;
    width: 100%;
    background-color:#151515;
}

.card-middle{
    height: 15%;
    width: 100%;
    color: #ffffff;
    padding-top: 10px;
}

.card-bottom{
    color: #9E9E9E;
    font-size: 14px;
    font-weight: 700;
}




.spotify-main-part1-p2-p1{
    display: flex;
    justify-content: space-between;
    padding: 18px 16px;
    color: #9E9E9E;
    font-size: 17px;
    align-items: center;
    text-align: center;

    >.icon-text{
        display: flex;
        gap: 20px;
        margin-left: 10px;

        >i{
            font-size: 25px;
        }
    }
}

.part2-card{
    height: 140px;
    width: 100%;
    background-color: #242424;
    border-radius: 7px;
    padding: 16px 20px;
    margin-bottom: 20px;
    
    >h4{
        padding-bottom: 10px;
        font-size: 17px;
        color: #ffffff;
    }    
    >p{
        padding-bottom: 20px;
        font-size: 15px;
        font-weight: 600;
        color: #ffffff;
    }

    >button{
        border-radius: 500px;
        font-size: 14px;
        padding: 7px 15px;
        font-weight: 700;
        border-style: none;
    }
}

.spotify-main-part1-p2-p2{
    padding: 10px;
    height: 260px;
    overflow-y:scroll hidden;
  
}

.spotify-main-part1-p2-p2:hover{
    overflow-y: scroll ;
}

.spotify-main-part1-p2-p3{
    background-color: #121212;
    position: relative;
    color: #9E9E9E;
    font-size: 11px;
}

.part3-line1{
    display: flex;
    padding: 30px 50px 0px 30px;

    justify-content: space-between;
    
}


.part3-line2{
    display: flex;
    padding: 30px 180px 0px 30px;
    justify-content: space-between;
}


.part3-line3{
    padding: 30px 50px 0px 30px;
}

.english-button{
    padding-left: 30px;
    padding-top: 30px;
    >button{
        font-size: 15px;
        border-radius: 500px;
        padding: 8px;
        width: 100px;
        font-weight: 700;
        color: #ffffff;
        background-color: #121212;
        border:1px solid #9E9E9E     ;
    }  
}

footer{
    height: 280px;
    background-color: #151515;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;   
    display: flex;
    justify-content: space-between;
    padding: 50px 30px;
    
}

.hr{
    height: 200px;
    width: 96%;
    padding-left: 30px;
}

.section{
    padding: 50px 0px;
    color: #9E9E9E;
}



.footer1{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.sec{
    /* margin: 30px; */
    >h3{
        padding-bottom: 10px;
        color: #ffffff;
    }
}

.sec ul li{
    list-style: none;
    padding-bottom: 10px;
    color: #9E9E9E;
}

.sec ul li:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #ffffff;
}
.footer2{
    display: flex;
    color: #ffffff;
    width: 15%;
    justify-content: space-evenly;
    gap: 15px;
    

}

.s-media{
    border-radius: 50%;
    background-color: #212020;
    padding: 8px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
    height: 50px;
    width: 50px;
}

.extra{
    height: 74px;
    width: 100%;
    background-image: linear-gradient(90deg,#af2896,#509bf5);
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0%;
    color: #ffffff;
    padding: 10px;
 
}

.last{
    display: flex;
    justify-content: space-between;
}

.button-last{
    align-items: center;
    text-align: center;
    padding-top: 6px;
    padding-right: 20px;
    >button{
        font-size: 15px;
        border-radius: 500px;
        /* padding: 8px; */
        width: 150px;
        font-weight: 700;
        color: #121212;
        background-color: #ffffff;
        border-style: none;
        text-align: center;
        align-items: center;
        height: 48px;
    }
}

.l1{
       >h6{
        text-transform: uppercase;
        font-size: 13px;
        font-weight: normal;
        letter-spacing: 1px;
        padding-bottom: 10px;
    }
}
